<div class="container">
  <form autocomplete="off">
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
      </div>

      <div class="ui-g-12">
        <label style="display: block">Vencimento</label>
        <p-calendar dataFormat="dd/mm/yy"  [inputStyle]="{width: '95px'}" name="dataVencimentoInicio" [(ngModel)] = "filtro.dataVencimentoInicio"> </p-calendar>


        <label>até</label>
        <p-calendar dataFormat="dd/mm/yy"  [inputStyle]="{width: '95px'}" name="dataVencimentoFim" [(ngModel)] = "filtro.dataVencimentoFim"> </p-calendar>

      </div>

      <div class="ui-g-12">
        <button (click)="pesquisar()" pButton type="submit" label="Pesquisar"></button>
      </div>

    </div>
  </form>


  <div class="ui-g">
    <div class="ui-g-12">
      <app-lacamentos-grid [lancamentos]="lancamentos" [totalRegistro]="totalRegistro"
      [itensPorPagina]="filtro.itensPorPagina" (onLazyLoad)="onLazyLoad($event)" (excluir)="confirmarExclusao($event)"></app-lacamentos-grid>
    </div>

    <div class="ui-g-12">
      <a pButton label="Novo Lançamento"  [routerLink]="['/lancamentos/novo']"></a>
    </div>

  </div>

</div>
